@model IEnumerable<ElectroShop.Models.ListOrder>
@{
    ViewBag.Title = "Đơn hàng đã hủy";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("_MessageAlert")
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" id="sidebar">
            <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">

                <li class="">
                    <a href="@Url.Action("Index","Order")"><i class="icon-chevron-right"></i> Danh sách</a>

                </li>
                <li class="active">

                    <a href="@Url.Action("Trash","Order")"><i class="icon-chevron-right"></i> Thùng rác(@ViewBag.countTrash)</a>
                </li>
            </ul>
        </div>

        <div class="span9" id="content">
            <div class="row-fluid">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="breadcrumb">
                            <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                            <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                            <li>
                                <a href="#">Đơn hàng</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <!-- block -->
                <div class="block">

                    <div class="block-content collapse in">
                        <div class="span12">
                            <div class="table-toolbar">
                                <div class="btn-group">

                                </div>

                            </div>

                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="example2" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th> Khách hàng </th>
                                        <th>Tổng tiền</th>
                                        <th>Ngày Đặt</th>
                                        <th>ExportDate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var c in Model)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @c.ID
                                            </td>
                                            <td>
                                                <a href="admin/order/detail?id=<%= cat.IDO%>">
                                                    @c.CustomerName
                                                </a>
                                            </td>

                                            <td class="text-right">
                                                @String.Format("{0:0,0₫}", c.SAmount)
                                            </td>
                                            <td>
                                                @c.CreateDate
                                            </td>
                                            <td>
                                                @c.ExportDate
                                            </td>

                                            <td class="text-center">
                                                <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Khôi phục">
                                                    <a href="@Url.Action("Undo", "Order", new { id = c.ID })" class="text-white"><i class="fas fa-undo-alt"></i></a>
                                                </button>
                                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Xóa vĩnh viễn">
                                                    <a href="@Url.Action("Delete", "Order", new { id = c.ID })" class="text-white"><i class="far fa-trash-alt"></i></a>
                                                </button>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /block -->
            </div>
        </div>
    </div>
    <hr>

</div>
