@model IEnumerable<ElectroShop.Models.MProduct>


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm mới</h3>

                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                @foreach (var item in Model)
                                {
                                    
                                        <div class="product">
                                            <div class="product-img">
                                                <img src="~/Public/library/product/@item.Image" alt="@item.Name">
                                                <div class="product-label">
                                                    <span class="sale">-@String.Format("{0:0}", ((item.Price - item.ProPrice) / item.Price * 100))%</span>
                                                    @if (item.Discount != 0)
                                                    {
                                                        <span class="new">NEW</span>
                                                    }
                                                    else
                                                    {

                                                    }
                                                </div>
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="~/@item.Slug">@item.Name</a></h3>
                                                <h4 class="product-price">@String.Format("{0:0,0₫}", @item.ProPrice)<del class="product-old-price">@String.Format("{0:0,0₫}", @item.Price)</del></h4>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="product-btns">
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Yêu thích</span></button>
                                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">So sánh</span></button>
                                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Chi tiết</span></button>
                                                </div>
                                            </div>
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn">@*<i class="fa fa-shopping-cart"></i>*@ Thêm vào giỏ hàng</button>
                                            </div>
                                        </div>
                                    
                                    <!-- /product -->
                                }
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
