@model IEnumerable<ElectroShop.Models.MPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("_MessageAlert")
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" id="sidebar">
            <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                <li class="">
                    <a href="@Url.Action("Create","Page")"><i class="icon-chevron-right"></i> Thêm mới</a>

                </li>
                <li class="active">
                    <a href="@Url.Action("Index","Page")"><i class="icon-chevron-right"></i> Danh sách</a>

                </li>
                <li class="">

                    <a href="@Url.Action("Trash","Page")"><i class="icon-chevron-right"></i> Thùng rác(@ViewBag.countTrash)</a>
                </li>
            </ul>
        </div>

        <div class="span9" id="content">
            <div class="row-fluid">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="breadcrumb">
                            <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                            <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                            <li>
                                <a href="#">Trang đơn</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <!-- block -->
                <div class="block">

                    <div class="block-content collapse in">
                        <div class="span12">
                            <div class="table-toolbar">
                                <div class="btn-group">

                                </div>

                            </div>

                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên trang đơn</th>
                                        <th>Trạng thái</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var stt = 1;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@stt</td>

                                            <td style="max-width:17rem"><a href="~/Admin/Page/Details/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>  </td>

                                            <td>
                                                <label class="switch">
                                                    @if (item.Status == 1)
                                                    {<input class="changeStatus" data-id="@item.Id" data-controller="Post" type="checkbox" checked>}
                                                    else
                                                    {<input class="changeStatus" data-id="@item.Id" data-controller="Post" type="checkbox">}
                                                    <span class="slider round"></span>
                                                </label>
                                            </td>
                                            <td class="text-center">

                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                                    <a href="@Url.Action("Edit", "Page", new { id = item.Id })" class="text-white"><i class="icon-edit"></i></a>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Xóa">
                                                    <a href="@Url.Action("DelTrash", "Page", new { id = item.Id })" class="text-white"><i class="icon-trash"></i></a>
                                                </button>
                                            </td>
                                        </tr>
                                        stt++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /block -->
            </div>
        </div>
    </div>
    <hr>

</div>