<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Public/user/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Public/user/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Public/user/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Public/user/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Public/user/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Public/user/css/style.css" />
    <script src="~/Public/js/sweetalert2@9.js"></script>
</head>
<body>
    @Html.Action("Header", "Module")
    @Html.Action("Navbar", "Module")
    @RenderBody()
    @Html.Action("NewSlet", "Module")
    @Html.Action("Footer", "Module")
    <!-- jQuery Plugins -->
    <script src="~/Public/user/js/jquery.min.js"></script>
    <script src="~/Public/user/js/bootstrap.min.js"></script>
    <script src="~/Public/user/js/slick.min.js"></script>
    <script src="~/Public/user/js/nouislider.min.js"></script>
    <script src="~/Public/user/js/jquery.zoom.min.js"></script>
    <script src="~/Public/user/js/main.js"></script>
    <script src="~/Public/js/target.min.js"></script>
    <script src="~/Public/js/popper.min.js"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=699266887289373&autoLogAppEvents=1" nonce="lSFZCffk"></script>
</body>
</html>
