@model ElectroShop.Models.MPost

@{
    ViewBag.Title = "Tạo mới bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .input {
        width: 586px;
    }

    .select {
        width: 280px;
    }
    .select1 {
        width: 260px;
    }
</style>
@Html.Partial("_MessageAlert")
@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="sidebar">
                <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                    <li class="active">
                        <a href="@Url.Action("Create", "Post")"><i class="icon-chevron-right"></i> Thêm mới</a>

                    </li>
                    <li class="">
                        <a href="@Url.Action("Index", "Post")"><i class="icon-chevron-right"></i> Danh sách</a>

                    </li>
                    <li class="">

                        <a href="@Url.Action("Trash", "Post")"><i class="icon-chevron-right"></i> Thùng rác(@ViewBag.demrac)</a>
                    </li>
                </ul>
            </div>

            <div class="span9" id="content">
                <div class="row-fluid">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="breadcrumb">
                                <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                                <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                                <li>
                                    <a href="#">Bài viết</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <!-- block -->
                    <div class="block">

                        <div class="block-content collapse in">
                            <div class="span12">
                                <div class="table-toolbar">
                                    <div class="btn-group">
                                        <input type="submit" value="Create" class="btn btn-primary btn-sm fas fa-plus-circle" />
                                        <a href="@Url.Action("Index","Post")" class="btn btn-danger btn-sm"><i class="fas fa-arrow-circle-left"></i>Trở về</a>
                                    </div>
                                </div>
                                <div class="table-toolbar">
                                    <div class="span8">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.Label("Tiêu đề bài viết", htmlAttributes: new { @class = "control-label" })
                                            <div class="">
                                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "input" } })
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            @Html.Label("Chi tiết bài viết")
                                            <div class="">
                                                @Html.TextAreaFor(model => model.Detail, new { @class = "ckeditor", @id = "ckeditors" })
                                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        @*bên phải*@
                                        <div class="form-group">
                                            @Html.Label("Hình ảnh", htmlAttributes: new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextBoxFor(model => model.Img, new { type = "file", @class = "select" })
                                                @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("MetaKey", htmlAttributes: new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextAreaFor(model => model.MetaKey, new { @class = "select1" })
                                                @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("MetaDesc", htmlAttributes: new { @class = "control-label" })
                                            <div class="">
                                                @Html.TextAreaFor(model => model.MetaDesc, new { @class = "select1" })
                                                @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Chủ đề", new { @class = "control-label" })
                                            <div class="">
                                                @Html.DropDownListFor(model => model.Topid, (SelectList)ViewBag.ListTopic, "[Chọn chủ đề bài viết]", new { @class = "select" })
                                                @Html.ValidationMessageFor(model => model.Topid, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label " })
                                            <div class="">
                                                @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Value = "1", Text = "Hiển thị" }, new SelectListItem { Value = "2", Text = "Không hiển thị" } }, new { @class = "select" })
                                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /block -->
                </div>
            </div>
        </div>
        <hr>

    </div>
}